@model IEnumerable<EcommerceWebApp.Models.Product>

@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<p>
    <a asp-action="productAdd" class="addnewbtn"><i class="fas fa-plus-circle"></i>  Add New Product</a>
</p>

<table>
    <caption>Product List</caption>
    <thead>
        <tr>
            <th scope="col"> @Html.DisplayNameFor(model => model.ProductName)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.WebId)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Condition)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.BandName)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Price)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Company.CompanyName)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Category.CateName)</th>
            <th scope="col"> Action</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td data-label="@Html.DisplayNameFor(model => model.ProductName)">@Html.DisplayFor(modelItem => product.ProductName)</td>
                <td data-label="@Html.DisplayNameFor(model => model.WebId)">@Html.DisplayFor(modelItem => product.WebId)</td>
                <td data-label="@Html.DisplayNameFor(model => model.Condition)">@Html.DisplayFor(modelItem => product.Condition)</td>
                <td data-label="@Html.DisplayNameFor(model => model.BandName)">@Html.DisplayFor(modelItem => product.BandName)</td>
                <td data-label="@Html.DisplayNameFor(model => model.Price)">@Html.DisplayFor(modelItem => product.Price)</td>
                <td data-label="@Html.DisplayNameFor(model => model.Company.CompanyName)">@Html.DisplayFor(modelItem => product.Company.CompanyName)</td>
                <td data-label="@Html.DisplayNameFor(model => model.Category.CateName)">@Html.DisplayFor(modelItem => product.Category.CateName)</td>
                <td data-label="Action">Button</td>
                </tr>
        }


    </tbody>
</table>